body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.112);
  }
  .navBar{
    background-color: rgb(109, 97, 27);
    padding: 20px 0px;
  }
  .navBar ul {
    color: white;
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin: 0px;
  }
  .navBar ul li:hover{
    color: rgb(255, 221, 0);
    cursor:pointer;
  }
  .welcome{
    text-align: left;
    padding: 10px 100px;
    line-height: 60px;
    color: rgba(0, 0, 0, 0.6);
  } 
  span{
    font-size: 2em;
    color: rgb(255, 166, 0);
  }